@font-face
{
font-family:"SPO365Icons";
src:url("fonts/Office365Icons.eot");
src:url("fonts/Office365Icons.eot?#iefix") format("embedded-opentype"),
url("fonts/Office365Icons.woff") format("woff"),
url("fonts/Office365Icons.ttf") format("truetype"),
url("fonts/Office365Icons.svg#web") format("svg");
font-style:normal;
font-weight:normal;
}

body, .ms-core-defaultFont, #pageStatusBar, .ms-status-msg, .js-callout-body {
    font-family: "Segoe UI","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.vp-header-featured .vp-largePictureLine1, .vp-header-featured .vp-largePictureLine2, .vp-header-featured .ms-Icon--ellipsis {
    color: #fff;
    text-shadow: 0px 0px 3px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#FF0000,strength=3);
}

.vp-tile-height .vp-largePictureLine1 {
    color: #333;
    font-family: "wf_segoe-ui_normal","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.vp-header-featured {
    display: inline-block;
    margin-bottom: 46px;
    min-width: 100%;
    padding: 50px 0px 20px 0px;
}

.vp-header-bottom {
    margin-bottom: 25px;
}

.vp-channel-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
    border-width: 4px;
    border-left-style: solid;
}

.vp-channel-subtitle {
    margin-left: 14px;
}

.vp-tile-group {
    position: relative;
    float: left;
}

.vp-tile-block {
    float: left;
    margin: 0 18px 18px 0;
    position: relative;
}

.vp-thumbContainer {
    display: inline-block;
    padding-right: 0px;
    padding-bottom: 0px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vp-thumbImageContainer {
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vp-thumbImage {
    display: block;
    margin: auto;
}

.vp-thumbDataOverlay {
    position: initial;
    background-color: #fff;
    color: #333;
}

.vp-thumbDataContainer {
    position: absolute;
    bottom: 0px;
}

.vp-header-featured .vp-tile-height-x2 .vp-thumbDataOverlay, .vp-header-featured .vp-tile-height-x2 .vp-thumbDataContainer, .vp-header-featured .vp-tile-height .vp-thumbDataOverlay, .vp-header-featured .vp-tile-height .vp-thumbDataContainer {
    padding: 4px 10px 0px 10px;
}

.vp-description-separator {
    height: 8px;
    border-right: 1px solid;
    margin: 0 5px 0 3px;
    display: inline-block;
}


.vp-site-defaultWidth {
    width: 1200px;
    margin: 0 auto;
}
