.header {
	max-width: 600px;
	width: 100%;
	display: flex;
	flex-flow: row;
	font-family: "Segoe UI", "Segoe WP", "sans-serif", "Segoe UI Symbol", "Symbols";
	align-self: center;
	margin-bottom: 5px;
}

.headerTitle {
	margin: 0px;
}

.searchContainer {
	align-self: center;
	flex: 1;
	text-align: right;
}

.contentContainer {
	display: flex;
	flex-flow: column;
	padding: 5px;
	min-width: 300px;
}

.choicesContainer {
	display: flex;
	flex-flow: column;
}

#progressCircle {
	width:40px; height: 40px; align-self: center;
}

.choice {
	align-self: center;
	padding: 5px;
	border-radius: 5px;
	height: 70px;
	width: 100%;
	display: flex;
	flex-flow: row;
	border: 2px solid #666666;
	overflow: hidden;
	margin-bottom: 5px;
	cursor: pointer;
	max-width: 600px;
}

.choice:hover {
	background-color: #EEEEEE;
}

.choiceLogoContainer {
	align-self: center;
	flex-flow: row;
	display: inline-flex;
	line-height: 60px;
	width: 60px; height: 60px;
	margin: 5px; margin-right: 20px;
}

.choiceLogo {
	width:100%; height:auto;
	align-self: center;
}

.choiceTextContainer {
	flex: 1;
	font-family: "Segoe UI", "Segoe WP", "sans-serif", "Segoe UI Symbol", "Symbols";
}

.choiceText {
	overflow: hidden;
	margin-top: 2px; margin-bottom: 0px;
}

p.choiceText {
	font-size: x-small;
}

input.ghost { color: #CCC; }
input.normal { color: #OOO; }