<div class="container">

	<div class="vp-header-featured ms-bg-color-neutralPrimary">
		<div class="vp-site-defaultWidth">

			<div class="vp-tile-group">
	            <div class="vp-channelBox vp-tile-block vp-tile-defaultHeight vp-tile-width" style="background-color: {{channel.TileHtmlColor}}">
	                <div class="ms-font-xxl ms-font-color-white vp-groupTitle-text">{{channel.Title}}</div>
	                <div class="ms-font-l ms-font-color-white vp-groupTitle-text">{{channel.VideoCount == 1 ? '1 Video' : channel.VideoCount + ' Videos'}}</div>
	            </div>
        	</div>

        	<video-tile ng-repeat="video in channel.SpotlightVideos" title="{{video.Video.Title}}" duration="{{video.Video.VideoDurationInSeconds * 1000 | date:'mm:ss' }}" viewcount="{{video.Video.ViewCount}}" channelid="{{video.Video.ChannelID}}" videoid="{{video.Video.ID}}" thumbnailurl="{{video.Video.ThumbnailUrl}}" spotlight="{{$index == 0}}"/>

		</div>
	</div>

	<div class="vp-site-defaultWidth">

		<div class="inlineBlockDisplay vp-u-spacer">
			<a class="ms-Pivot-link {{ selectedView == 1 ? 'is-selected' : ''}}" ng-click="selectedView=1">Popular</a>
			<a class="ms-Pivot-link {{ selectedView == 2 ? 'is-selected' : ''}}" ng-click="selectedView=2">All Videos</a>
			<a class="ms-Pivot-link {{ selectedView == 3 ? 'is-selected' : ''}}" ng-click="selectedView=3">My Videos</a>
		</div>

		<div class="vp-group-width-fiveTile">
			<div class="vp-thumbnail-section" ng-if="selectedView == 1">

				<video-tile ng-repeat="video in popularChannelVideos" title="{{video.Title}}" duration="{{video.VideoDurationInSeconds * 1000 | date:'mm:ss' }}" viewcount="{{video.ViewCount}}" channelid="{{channel.Id}}" videoid="{{video.ID}}" thumbnailurl="{{video.ThumbnailUrl}}" />

			</div>

			<div class="vp-thumbnail-section" ng-if="selectedView == 2">

				<video-tile ng-repeat="video in channel.Videos" title="{{video.Title}}" duration="{{video.VideoDurationInSeconds * 1000 | date:'mm:ss' }}" viewcount="{{video.ViewCount}}" channelid="{{channel.Id}}" videoid="{{video.ID}}" thumbnailurl="{{video.ThumbnailUrl}}" />

			</div>

			<div class="vp-thumbnail-section"  ng-if="selectedView == 3">
			</div>

		</div>
	</div>

</div>
