<div class="container">

	<div class="vp-header-featured ms-bg-color-neutralPrimary">
		<div class="vp-site-defaultWidth">
			<div class="vp-tile-group">

				<video-tile ng-repeat="video in featuredVideos" title="{{video.Video.Title}}" duration="{{video.Video.VideoDurationInSeconds * 1000 | date:'mm:ss' }}" viewcount="{{video.Video.ViewCount}}" channelid="{{video.Video.ChannelID}}" videoid="{{video.Video.ID}}" thumbnailurl="{{video.Video.ThumbnailUrl}}" spotlight="{{$index <= 1}}"/>

			</div>
		</div>	
	</div>

	<div class="vp-site-defaultWidth">
	
		<div class="vp-tile-group vp-u-clearLeft vp-header-bottom" id="ctl00_PlaceHolderMain_popularSection">
			<a title="Popular" href="#/">
				<div class="vp-header-bottom">
					<div>
						<span class="ms-font-xl ms-font-weight-semilight vp-channel-title vp-border-popular">Popular</span>
						<span class="ms-heroLink ms-font-l">See all videos</span>
					</div>
				</div>
			</a>

			<video-tile ng-repeat="video in popularVideos" title="{{video.Title}}" duration="{{video.VideoDurationInSeconds * 1000 | date:'mm:ss' }}" viewcount="{{video.ViewCount}}" channelid="{{video.ChannelID}}" videoid="{{video.ID}}" thumbnailurl="{{video.ThumbnailUrl}}" />
				
		</div>

		<div class="vp-tile-group inlineBlockDisplay vp-u-clearLeft vp-u-spacer vp-thumbnail-section" ng-repeat="channel in channels">
	        <a title="{{channel.Title}}" href="#/channels/{{channel.Id}}">
		        <div class="vp-header-bottom">
		            <span class="ms-font-xl ms-font-weight-semilight vp-channel-title" style="border-color: {{channel.TileHtmlColor}};">{{channel.Title}}</span>
		            <span class="ms-heroLink ms-font-l vp-channel-subtitle">See all videos</span>
		        </div>
	        </a>

	        <video-tile ng-repeat="video in channel.Videos" title="{{video.Title}}" duration="{{video.VideoDurationInSeconds * 1000 | date:'mm:ss' }}" viewcount="{{video.ViewCount}}" channelid="{{channel.Id}}" videoid="{{video.ID}}" thumbnailurl="{{video.ThumbnailUrl}}" />
	            
		</div>


		

	</div>


</div>