<div class="container">	        
	        <div class="vp-tile-block vp-thumbContainer vp-tile-width vp-tile-height">
	            <div class="vp-thumbImageContainer ms-bg-color-neutralLighterAlt vp-tile-width vp-tile-height">
	                    <img class="vp-thumbImage vp-tile-width vp-tile-height" src="{{video.ThumbnailUrl}}&amp;width=220&amp;height=124"> 
	            </div> 
	            <div class="vp-thumbDataOverlay vp-tile-width"></div>
	            <div class="vp-thumbDataContainer vp-tile-width">
	                    <div class="vp-largePictureLine1 ms-noWrap vp-smallThumb-title">{{video.Title}}</div>
	                <div class="vp-largePictureLine2">{{video.Duration}} <span class="vp-description-separator ms-border-color-neutralTertiaryAlt"></span>{{video.ViewCount}} views 
	                    <a title="View Video" class="vp-u-floatRight" id="ctl00_PlaceHolderMain_ctl142_callout" onclick="openVideoCallout(this);" href="#" ms-jsgrid-click-passthrough="true">
	                        <i class="ms-Icon ms-Icon--ellipsis"></i>
	                    </a>
	                </div> 
	            </div>
	        </div>
</div>